'atom-workspace atom-text-editor:not([mini])':
  'cmd-]': 'unset!'
  'cmd-[': 'unset!'

'body.platform-darwin':
  'cmd-{': 'simple-panes:move-item-left-of-pane'
  'cmd-}': 'simple-panes:move-item-right-of-pane'

'body':
  'cmd-{': 'pane:split-left-and-copy-active-item'
  'cmd-}': 'pane:split-right-and-copy-active-item'
  'cmd-[': 'pane:show-previous-item'
  'cmd-]': 'pane:show-next-item'
  'alt-tab': 'window:focus-next-pane'

'atom-text-editor':
  'shift-cmd-H': 'git-plus:menu'
  'alt-cmd-h': 'file-explorer:toggle-home-directory'
  
'.platform-darwin':
  'cmd-shift-a a': 'git-plus:add-all-and-commit'
